@import 'tailwindcss';

@theme {
  --color-theme: #ed6c21;
  --color-header: #18191a;
  --color-background: #1c1e21;
  --color-text: #f5f5f5;
  --color-snow: #ffffff;
  --color-border: #5c5c5c;
  --color-border-accent: #757575;
  --color-marker: #b3b3b3;
  --color-accent: rgb(255, 145, 35);
  --color-section: rgba(34, 36, 39, 0.8);
  --color-aside-action: rgba(43, 45, 48, 0.8);
  --color-cell-header: rgba(47, 49, 53, 0.4);
  --color-cell-even: rgba(45, 47, 51, 0.8);
  
  --color-q1: rgba(237, 108, 33, 1);
  --color-q2: rgba(255, 145, 35, 1);
  --color-q3: rgba(24, 25, 26, 1);
  --color-q4: rgba(47, 48, 48, 1);
  --color-q5: rgba(92, 92, 92, 1);
  --color-q6: rgba(117, 117, 117, 1);
  --color-q7: rgba(255, 255, 255, 1);
  --color-q8: rgba(240, 240, 240, 1);
  --color-q9: rgba(24, 25, 26, 0.8);
  --color-q10: rgba(24, 25, 26, 0.6);
  --color-q11: rgba(117, 117, 117, 0.8);
  --color-q12: rgba(117, 117, 117, 0.6);
  --color-q13: rgba(21, 16, 16, 1);
  --color-q14: rgba(117, 117, 117, 0.4);
}

@utility bg-stripes-diagonal-transparent {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 8px,
    var(--color-q14) 8px,
    var(--color-q14) 10px
  );
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-q12) inset !important;
  box-shadow: 0 0 0 1000px var(--color-q12) inset !important;
  -webkit-text-fill-color: var(--color-q7) !important;
  transition: background-color 5000s ease-in-out 0s; /* для Firefox */
}