@import 'tailwindcss';

@theme {
  --color-theme: rgba(237, 108, 33, 1);
  --color-theme-a: rgba(255, 145, 35, 1);
  --color-main: rgba(24, 25, 26, 1);
  --color-main-a: rgba(47, 48, 48, 1);
  --color-border: rgba(92, 92, 92, 1);
  --color-border-a: rgba(117, 117, 117, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-text-a: rgba(240, 240, 240, 1);
  --color-main-td: rgba(24, 25, 26, 0.8);
  --color-main-td-a: rgba(24, 25, 26, 0.6);
  --color-main-tb: rgba(117, 117, 117, 0.8);
  --color-main-tb-a: rgba(117, 117, 117, 0.6);
  --color-background: rgba(21, 16, 16, 1);
  --color-glass: rgba(117, 117, 117, 0.4);
  --color-correct: rgba(67, 195, 17, 1);
  --color-correct-a: rgba(67, 235, 17, 1);
  --color-error: rgba(193, 0, 7, 1);
  --color-error-a: rgba(153, 0, 7, 1);

  --color-correct-tb: rgba(67, 195, 17, 0.4);
  --color-error-tb: rgba(193, 0, 7, 0.6);
}

@utility bg-stripes-diagonal-transparent {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 8px,
    var(--color-glass) 8px,
    var(--color-glass) 10px
  );
}

@utility bg-stripes-error {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 8px,
    var(--color-error-tb) 8px,
    var(--color-error-tb) 10px
  );
}

@utility bg-stripes-correct {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 8px,
    var(--color-correct-tb) 8px,
    var(--color-correct-tb) 10px
  );
}

/* ==================== Buttons ==================== */
@layer components {
  /* Общие стили для всех кнопок */
  .button-default,
  .button-block,
  .button-correct,
  .button-error {
    border: 2px solid var(--color-border);
    color: var(--color-text);
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    text-align: center;
  }

  /* Общий ховер для границы */
  .button-default:hover,
  .button-block:hover,
  .button-correct:hover,
  .button-error:hover {
    border-color: var(--color-border-a);
  }

  /* Фоны для каждого режима */
  .button-default {
    background-color: var(--color-theme);
  }
  .button-default:hover {
    background-color: var(--color-theme-a);
  }

  .button-block {
    background-color: var(--color-main-tb);
  }
  .button-block:hover {
    background-color: var(--color-main-tb-a);
  }

  .button-correct {
    background-color: var(--color-correct);
  }
  .button-correct:hover {
    background-color: var(--color-correct-a);
  }

  .button-error {
    background-color: var(--color-error);
  }
  .button-error:hover {
    background-color: var(--color-error-a);
  }
}
/* ==================== Buttons ==================== */

@layer base {
  h2 {
    @apply text-text border-border m-5 w-full border-b-2 pb-5 text-center text-4xl font-bold;
  }
  h3 {
    @apply text-text border-border m-3 w-full border-b-2 pb-3 text-left text-2xl font-bold;
  }
  label {
    @apply text-text block font-medium;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-main-tb-a) inset !important;
  box-shadow: 0 0 0 1000px var(--color-main-tb-a) inset !important;
  -webkit-text-fill-color: var(--color-text) !important;
  transition: background-color 5000s ease-in-out 0s; /* для Firefox */
}

/* ==================== Modal page ==================== */
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.2s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}
/* ==================== Modal page ==================== */